.characters {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.characterGrid {
    width: 80%;
}

.MC-card {
    cursor: pointer;
    width: auto;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid rgba(240, 230, 220, 0.25);
    border-radius: 8px;
    background: linear-gradient(45deg, rgba(70, 65, 60, 0.18), rgba(65, 40, 40, 0.123));
    box-shadow: 1px 3px 3px rgba(30,24,18,0.5);
    transition: 0.2s all ease-in;
}

.MC-card:hover {
    transform: translateY(-2px);
    border: 1px solid rgba(240, 230, 220, 0.5);
    background: linear-gradient(60deg, rgba(70, 65, 60, 0.33), rgba(65, 40, 40, 0.25));
    box-shadow: 1px 6px 6px rgba(30,24,18,0.6);
}

.MC-card > .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    text-align: left;
}

.arsenal {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.slug {
    font-size: smaller;
    background: beige;
    color: darkslategrey;
    padding: 0.25rem 0.5rem;
    gap: 1rem;
    border-radius: 999px;
}

.MC-card > img {
    width: 20%;
    aspect-ratio: 3/4;
    filter: grayscale();
    transition: 0.8s all cubic-bezier(.2,.5,0,1);
}

.MC-card > img:hover {
    transform: scale(1.05);
    filter: none;
    animation: float 3s infinite alternate-reverse;
}

@keyframes float {
    0% {
        transform: translateY(0);
        transform: scale(1.05)
    }
    100% {
        transform: translateY(-5px);
        transform: scale(1.08)
    }
}

@media (max-width: 980px) {
    .characterGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .MC-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .MC-card > img {
    width: 30%;
    }
}